.custom-button {
  padding: 20px 35px 20px 35px;
  min-width: 165px;
  letter-spacing: 0.5px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bolder;

  cursor: pointer;
  border: 1px solid transparent;
  transition: 
    background-color 300ms ease-in-out,
    color 300ms ease-in-out,
    border-color 300ms ease-in-out;

  &:hover {
    background-color: white;
    color: black;
    border-color: black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: transparent;
      border-color: #4285f4;
      color: #4285f4;
    }
  }
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px
  }